<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Nhập thông tin thêm dịch vụ
            </nb-card-header>
            <nb-card-body>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Tên dịch vụ:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth id="name" placeholder="Nhập tên dịch vụ" required [(ngModel)]="servModel.name">
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Mô tả:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth placeholder="Textarea" [(ngModel)]="servModel.description" placeholder="Nhập mô tả" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Mã dịch vụ:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth placeholder="Textarea" [(ngModel)]="servModel.code" placeholder="Nhập mã dịch vụ" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Bản giới thiệu dịch vụ:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth placeholder="Textarea" [(ngModel)]="servModel.introDocument" placeholder="Nhập bản giới thiệu" required>
                    </div>
                </div>

            </nb-card-body>

            <nb-card-footer>
                <div class="row row-div-action">
                    <div class="div-action">
                        <button nbButton status="primary" class="btn-update" (click)="addService()">Cập nhật</button>
                        <button nbButton status="danger" (click)="backToList()" style="margin-left: 10px;margin-right: 10px;">Hủy bỏ</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
