<nb-card>
    <nb-card-header> {{type}}?</nb-card-header>
    <nb-card-footer>
        <button nbButton status="primary" (click)="submit()">Đồng ý</button>
        <button nbButton status="danger" (click)="cancel()">Hủy bỏ</button>
    </nb-card-footer>
</nb-card>