<button class="btn btn-success" *ngIf="isDisplay1" >Đang hoạt động</button> 
<button class="btn btn-warning" *ngIf="isDisplay2" >Chưa kích hoạt</button>
<button class="btn btn-danger" *ngIf="isDisplay3"  >Khóa</button>
