<nb-layout>
    <nb-layout-column>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="form-control-group">
                    <h1 id="title" class="title">Login</h1>
                    <form aria-labelledby="title">
                        <nb-card>
                            <nb-card-body>
                                <div class="form-control-group">
                                    <label class="label" for="input-email">User Name:</label>
                                    <input nbInput fullWidth type="text" [(ngModel)]="dataLogin.account" name="account" required>
                                </div>

                                <div class="form-control-group">
                                    <label class="label" for="input-email">Pass word:</label>
                                    <input required nbInput fullWidth name="password" type="password" id="input-password" placeholder="Password" fieldSize="large" [(ngModel)]="dataLogin.password" name="account">
                                </div>
                            </nb-card-body>
                        </nb-card>
                        <div class="form-control-group accept-group">
                            <!-- <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox> -->
                        </div>

                        <button nbButton fullWidth status="primary" size="large" (click)="loginAccount()">
              Log In
            </button>
                    </form>
                    <!-- <section class="another-action" aria-label="Register">
            Don't have an account? <a class="text-link" routerLink="../register">Register</a>
          </section> -->
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>