<div>
  <nb-icon icon="file-text-outline" pack="eva" class="icon-action icon-read" (click)="onViewDetail()"
  data-toggle="tooltip" title="chi tiết"></nb-icon>
  <nb-icon icon="edit-outline"  pack="eva" class="icon-action icon-edit" (click)="onEdit()"
  data-toggle="tooltip" title="chỉnh sửa"></nb-icon>
  <nb-icon icon="trash-2-outline"  pack="eva"  class="icon-action icon-delete" (click)="onDelete()"
  data-toggle="tooltip" title="xóa"></nb-icon>
</div>