#detail {
    width: 800px;
    margin-right: 300px;
    margin-left: 400px;
}

// .custom {
//     max-width: 85% !important;
// }
agm-map {
    height: 300px;
    width: 360px;
}

nb-card-body {
    max-height: calc(100vh - 200px);
}
