<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Thêm file báo cáo
            </nb-card-header>
            <nb-card-body>
                <div class="form-group row">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Tải file</label>
                    <div class="col-sm-7">
                        <div class="upload-btn-wrapper">
                            <input type="file" #file (change)="onFileChange($event)">
                        </div>
                    </div>
                </div>
            </nb-card-body>

            <nb-card-footer>
                <div class="row row-div-action">
                    <div class="div-action">
                        <button nbButton status="primary" class="btn-update" (click)="update()">Cập nhật</button>
                        <button nbButton status="danger" (click)="backToList()" style="margin-left: 10px;margin-right: 10px;">Hủy bỏ</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>

