.border-bottom {
    color: black;
}

.table {
    background-color: #fff;
    // tr:first-child td {
    //     border: 1px solid #ccc !important;
    //     vertical-align: middle;
    // }
}

// .table {
//     tr {
//         td:first-child {
//             vertical-align: top;
//         }
//     }
// }
.cam {
    color: #e05c0e;
}

.color0 {
    color: #000;
}

.nb-card-body {
    line-height: 23px;
}

// .table-small {
//     padding: 0px !important;
// }