<div class="row">
    <div class="col-md-7">
        <nb-card accent="info" status="success">
            <nb-card-header>
                Thông tin chi tiết dự án
            </nb-card-header>
            <nb-card-body class="nb-card-body">
                <div class="col-sm-7">
                    <span class="cam"><b class="color0">Ngày tối đa:</b> {{projectModel.maximumManday}}</span> <br>
                </div>

                <div class="col-sm-7">
                    <span class="cam"><b class="color0">Bắt đầu:</b> {{projectModel.startDate}}</span> <br>
                </div>

                <div class="col-sm-7">
                    <span class="cam"><b class="color0">Kết thúc:</b> {{projectModel.endDate}}</span>
                </div>

                <div class="col-sm-12">
                    <span class="cam"><b class="color0">Mô tả:</b> {{projectModel.description}}</span>
                </div>

                <div class="col-sm-7">
                    <span class="cam"><b class="color0">Chi phí:</b> {{projectModel.value}}</span>
                </div>

                <div class="col-sm-7">
                    <span class="cam"><b class="color0">Mô tả:</b> {{projectModel.maximumManday}} ngày</span>
                </div>

                <div class="col-sm-7">
                    <b class="color0">Tiến độ dự án:</b>
                    <nb-progress-bar [value]="projectModel.kpi" [status]="status" [displayValue]="true"></nb-progress-bar>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-5">
        <nb-card size="medium" accent="info" status="warning">
            <nb-card-header>
                Task
                <nb-icon icon="plus-outline" (click)="openAddTask()"></nb-icon>
            </nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let item of listTask">
                    {{ item.Description }}
                    <br/>
                    <nb-icon icon="eye-outline" status="info" (click)="openDetailTask(item.Id)"></nb-icon>
                    <nb-icon icon="color-picker-outline" status="warning" (click)="openEditTask(item.Id)"></nb-icon>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>