<!-- <div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                Tìm kiếm
            </nb-card-header>
            <nb-card-body>
                <form class="form-inline">
                    <div class="form-group col-sm-3">
                        <label class="col-form-label label text-right col-sm-3" for="role">Dự án:</label>
                        <div class="col-sm-9">
                            <nb-select fullWidth placeholder="--- Dự án ---" [(selected)]="searchModel.projectId">
                                <nb-option *ngFor="let item of lstProject" [value]="item.Id">{{item.Name}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-form-label label text-right col-sm-3" for="role">Nhân viên:</label>
                        <div class="col-sm-9">
                            <nb-select fullWidth placeholder="---Nhân viên --" [(selected)]="searchModel.userId" name="userId" required>
                                <nb-option *ngFor=" let item of lstUser" [value]="item.Id">{{item.FullName}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="col-form-label label text-right col-sm-3 " for="role ">Công việc:</label>
                        <div class="col-sm-9">
                            <nb-select fullWidth placeholder="------Task------" [(selected)]="searchModel.taskId" name="taskId" required>
                                <nb-option *ngFor="let item of lstTask" [value]="item.Id">{{item.Description}}</nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="form-group col-sm-3 required row">
                        <div class="col-sm-9">
                            <input nbInput [nbDatepicker]="endDate" [(ngModel)]="time" placeholder="---------Chọn ngày---------">
                            <nb-datepicker #endDate format="dd\MM\yyyy" (dateChange)="receiverEndTime($event)"></nb-datepicker>
                        </div>
                    </div>

                </form>
                <div class="div-action btn-add-new row my-2">
                    <button class="button" nbButton status="primary" (click)="getData()" style=" margin-left: 1.25rem;">Tìm kiếm</button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div> -->

<div class="row ">
    <div class="col-12 ">
        <nb-card>
            <nb-card-header>Lịch sử chấm công
                <div class="div-action btn-add-new row my-2 ">
                    <button class="button " nbButton status="primary" (click)="updateAddNew()" style="margin-left: 1.25rem;">Tạo mới</button>
                </div>
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table #table [settings]="settings " [source]="source" (userRowSelect)="openWithBackdropClick($event) " class="text-center ">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>