.text-right {
    text-align: unset !important;
}

.nb-theme-corporate .label {
    color: #8f9bb3;
    font-family: Open Sans, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    padding-right: 0;
}
