<div class="row">
    <!-- <div class="col-12">
  <nb-card>
    <nb-card-header>
      Tìm kiếm
    </nb-card-header>
    <nb-card-body>
      <form class="form-inline">
        <div class="form-group col-sm-6">
          <label class="col-form-label label text-right col-sm-3" for="hoten">Họ tên:</label>
          <div class="col-sm-8">
            <input class="col-sm-8" type="text" nbInput fullWidth class="form-control" [(ngModel)]="searchModel.hoten"
              name="hoten" id="hoten">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="col-form-label label text-right col-sm-3" for="email">Email/ SDT:</label>
          <div class="col-sm-8">
            <input class="col-sm-8" type="email" nbInput fullWidth class="form-control" [(ngModel)]="searchModel.email"
              name="email" id="email">
          </div>
        </div>
      </form>
      <div class="div-action btn-add-new row my-2">
        <button class="button" nbButton status="primary" (click)="getData()">Tìm kiếm</button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
</div> -->
    <div class="row">
        <div class="col-12">
            <nb-card>
                <nb-card-header>
                    Danh sách công việc
                    <div class="div-action btn-add-new row my-2">
                        <button class="button" nbButton status="primary" (click)="addTask()">Chia task</button>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)" class="text-center">
                    </ng2-smart-table>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton hero status="danger" (click)="dismiss()">Close</button>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>