<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Nhập thông tin thêm tài khoản
            </nb-card-header>
            <nb-card-body>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Tài khoản:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth id="userName" placeholder="Nhập tài khoản" required [(ngModel)]="accountModel.userName">
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Quyền:</label>
                    <div class="col-sm-8">
                        <nb-select fullWidth placeholder="------- Phân Quyền -------" [(ngModel)]="accountModel.roleId" name="role" required>
                            <nb-option *ngFor="let item of lstRole" [value]="item.Id">{{item.Name}}</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Mật khẩu:</label>
                    <div class="col-sm-8">
                        <input type="password" nbInput fullWidth id="passwordHash" placeholder="Nhập mật khẩu" required [(ngModel)]="accountModel.passwordHash">
                    </div>
                </div>
                <!-- <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Nhập lại mật khẩu:</label>
                    <div class="col-sm-8">
                        <input type="password" nbInput fullWidth placeholder="Nhập lại mật khẩu" required>
                    </div>
                </div> -->

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Họ tên:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth id="name" placeholder="Nhập họ tên" required [(ngModel)]="accountModel.fullName">
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" nbInput fullWidth placeholder="Textarea" [(ngModel)]="accountModel.email" placeholder="Nhập Email" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Số điện thoại:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth [(ngModel)]="accountModel.phoneNumber" placeholder="Nhập số điện thoại" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ngày sinh:</label>
                    <div class="col-sm-8">
                        <input nbInput [nbDatepicker]="birthday" placeholder="Chọn ngày sinh" [(ngModel)]="accountModel.birthday" (dateChange)="testChange($event)">
                        <nb-datepicker #birthday format="dd\MM\yyyy"></nb-datepicker>
                    </div>
                </div>

                <!-- <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ngày gia nhập:</label>
                    <div class="col-sm-8">
                        <input nbInput [nbDatepicker]="dateCreated" placeholder="Chọn ngày gia nhập" (dateChange)="testChange($event)">
                        <nb-datepicker #dateCreated format="dd\MM\yyyy" (dateChange)="testChange($event)"></nb-datepicker>
                    </div>
                </div> -->

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Cấp bậc:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth placeholder="Textarea" [(ngModel)]="accountModel.level" placeholder="Nhập cấp bậc" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Lương cứng:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth placeholder="Textarea" [(ngModel)]="accountModel.netSalary" placeholder="Nhập lương cứng" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Lương Manday:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth placeholder="Textarea" [(ngModel)]="accountModel.mandaySalary" placeholder="Nhập lương Manday" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Chuyên môn:</label>
                    <div class="col-sm-8">
                        <nb-select fullWidth placeholder="------- Chọn Chuyên môn -------" [(ngModel)]="accountModel.specializationId" name="role" required>
                            <nb-option *ngFor="let item of lstSpecial" [value]="item.Id">{{item.Name}}</nb-option>
                        </nb-select>
                    </div>
                </div>

            </nb-card-body>

            <nb-card-footer>
                <div class="row row-div-action">
                    <div class="div-action">
                        <button nbButton status="primary" class="btn-add" (click)="addAccount()">Cập nhật</button>
                        <button nbButton status="danger" (click)="backToList()" style="margin-left: 10px;margin-right: 10px;">Hủy bỏ</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>