<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Sửa task
            </nb-card-header>
            <nb-card-body>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Nội dung task:</label>
                    <div class="col-sm-8">
                        <textarea nbInput fullWidth placeholder="Nhập nội dung task" required [(ngModel)]="taskModel.description"></textarea>
                    </div>
                </div>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Nhân viên:</label>
                    <div class="col-sm-8">
                        <nb-select fullWidth placeholder="------- Nhân viên-------" [(ngModel)]="taskModel.userId" name="userId" required>
                            <nb-option *ngFor="let item of lstUser" [value]="item.Id">{{item.FullName}}</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ngày bắt đầu:</label>
                    <div class="col-sm-8">
                        <input nbInput [nbDatepicker]="startDate" [(ngModel)]="timeStart">
                        <nb-datepicker #startDate format="dd\MM\yyyy" (dateChange)="receiverStartTime($event)"></nb-datepicker>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ngày kết thúc:</label>
                    <div class="col-sm-8">
                        <input nbInput [nbDatepicker]="endDate" [(ngModel)]="timeEnd">
                        <nb-datepicker #endDate format="dd\MM\yyyy" (dateChange)="receiverEndTime($event)"></nb-datepicker>
                    </div>
                </div>

            </nb-card-body>

            <nb-card-footer>
                <div class="row row-div-action">
                    <div class="div-action">
                        <button nbButton status="primary" class="btn-update" (click)="editTask()">Cập nhật</button>
                        <nb-card-footer>
                            <button nbButton hero status="danger" (click)="dismiss()">Hủy bỏ</button>
                        </nb-card-footer>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>