<div class="row">
  <div class="col-md-12">
      <nb-card>
          <nb-card-header>
            Danh sách quyền
            <div class="div-action btn-add-new">
              <button nbButton status="primary" (click)="updateAddNew()">Tạo mới</button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" class="text-center">
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>
  </div>
</div>