<div class="header-container">
    <div class="logo-container">
        <!-- <a class="logo" href="#" (click)="navigateHome()"></a> -->
        <a class="image-logo" href="#">
        </a>
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <!-- <a href="#">ngx-<span>admin</span></a> -->
        <a class="logo" id="text-logo" href="#" (click)="navigateHome()">
      Hệ thống quản lý chấm công
    </a>
    </div>
    <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
        <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
    </nb-select> -->
</div>

<div class="header-container">
    <button nbButton (click)="logOut()">Log Out</button>
    <!-- <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture" (click)="checkClick()">
      </nb-user>
    </nb-action>
  </nb-actions> -->
</div>