<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Thêm ngày nghỉ lễ
            </nb-card-header>
            <nb-card-body>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ngày nghỉ:</label>
                    <div class="col-sm-8">
                        <input nbInput [nbDatepicker]="createDate" [(ngModel)]="timeStart">
                        <nb-datepicker #createDate format="dd\MM\yyyy" (dateChange)="receiverStartTime($event)"></nb-datepicker>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Chi tiết:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth placeholder="Textarea" [(ngModel)]="holidayModel.description" placeholder="Nhập mô tả" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Loại :</label>
                    <div class="col-sm-8">
                        <nb-select fullWidth placeholder="------- Chọn Loại ngày nghỉ -------" [(ngModel)]="holidayModel.status" required>
                            <nb-option [value]="1">Ngày nghỉ lễ</nb-option>
                            <nb-option [value]="2">Ngày nghỉ thường</nb-option>
                        </nb-select>
                    </div>
                </div>
            </nb-card-body>

            <nb-card-footer>
                <div class="row row-div-action">
                    <div class="div-action">
                        <button nbButton status="primary" class="btn-update" (click)="updateHoliday()">Cập nhật</button>
                        <button nbButton status="danger" (click)="backToList()" style="margin-left: 10px;margin-right: 10px;">Hủy bỏ</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
