<!-- <div>
    <nb-icon icon="file-text-outline" pack="eva" class="icon-action icon-read" (click)="onViewDetail()" data-toggle="tooltip" title="Chấp nhận"></nb-icon>
    <nb-icon icon="edit-outline" pack="eva" class="icon-action icon-edit" (click)="onEdit()" data-toggle="tooltip" title="Từ chối"></nb-icon>
    <nb-icon icon="trash-2-outline" pack="eva" class="icon-action icon-delete" (click)="onDelete()" data-toggle="tooltip" title="Chờ duyệt"></nb-icon>
</div> -->
<div style="display: flex;">
    <nb-radio-group (valueChange)="clickAccept($event)">
        <nb-radio value="1" [checked]="rowData.IsAccept == 1">Chấp nhận</nb-radio>
        <nb-radio value="2" [checked]="rowData.IsAccept == 2">Từ chối</nb-radio>
        <nb-radio value="3" [checked]="rowData.IsAccept == 3">Chờ duyệt</nb-radio>
    </nb-radio-group>
</div>