<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Nhập thông tin sửa dự án
            </nb-card-header>
            <nb-card-body>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Tên dự án:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth id="name" placeholder="Nhập tên dự án" required [(ngModel)]="projectModel.name">
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Mô tả:</label>
                    <div class="col-sm-8">
                        <textarea type="text" nbInput fullWidth id="description" placeholder="Nhập họ tên" required [(ngModel)]="projectModel.description"></textarea>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Vị trí:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth placeholder="Textarea" [(ngModel)]="projectModel.location" placeholder="Nhập vị trí" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Giá trị:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth placeholder="Textarea" [(ngModel)]="projectModel.value" placeholder="Nhập số giá trị" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Người liên hệ:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth placeholder="Textarea" [(ngModel)]="projectModel.contactUser" placeholder="Nhập người liên hệ" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Số ngày tối đa:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth placeholder="Textarea" [(ngModel)]="projectModel.maximumManday" placeholder="Nhập số ngày tối đa" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ngày bắt đầu:</label>
                    <div class="col-sm-8">
                        <input nbInput [nbDatepicker]="startDate" [(ngModel)]="timeStart">
                        <nb-datepicker #startDate format="dd\MM\yyyy" (dateChange)="receiverStartTime($event)"></nb-datepicker>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ngày kết thúc:</label>
                    <div class="col-sm-8">
                        <input nbInput [nbDatepicker]="endDate" [(ngModel)]="timeEnd">
                        <nb-datepicker #endDate format="dd\MM\yyyy" (dateChange)="receiverEndTime($event)"></nb-datepicker>
                    </div>
                </div>


                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Dịch vụ:</label>
                    <div class="col-sm-8">
                        <nb-select fullWidth placeholder="------- Dịch vụ-------" [(ngModel)]="projectModel.serviceId" name="specializationId" required>
                            <nb-option *ngFor="let item of lstSpecial" [value]="item.Id">{{item.Name}}</nb-option>
                        </nb-select>
                    </div>
                </div>

            </nb-card-body>

            <nb-card-footer>
                <div class="row row-div-action">
                    <div class="div-action">
                        <button nbButton status="primary" class="btn-update" (click)="updateAccount()">Cập nhật</button>
                        <button nbButton status="danger" (click)="backToList()" style="margin-left: 10px;margin-right: 10px;">Hủy bỏ</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>