<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                Danh sách nhân viên
                <div class="div-action btn-add-new row my-2" style="padding-left: 1280px;">
                    <button class="button" nbButton status="primary" (click)="updateAddNew()">Tạo mới</button>
                </div>
            </nb-card-header>
            <nb-card-body>

                <ng2-smart-table [settings]="settings" [source]="source" class="text-center">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>