<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Nhập thông tin chuyên môn
            </nb-card-header>
            <nb-card-body>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Tên chuyên môn:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth id="userName" placeholder="Nhập tên chuyên môn" required [(ngModel)]="specialModel.name">
                    </div>
                </div>
            </nb-card-body>

            <nb-card-footer>
                <div class="row row-div-action">
                    <div class="div-action">
                        <button nbButton status="primary" class="btn-update" (click)="addSpecial()">Cập nhật</button>
                        <button nbButton status="danger" (click)="backToList()" style="margin-left: 10px;margin-right: 10px;">Hủy bỏ</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
