<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Nhập thông tin chi phí kế toán
            </nb-card-header>
            <nb-card-body>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Nội dung:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth id="userName" placeholder="Nhập nội dung" required [(ngModel)]="costModel.title">
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ghi chú:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth id="userName" placeholder="Nhập ghi chú" required [(ngModel)]="costModel.note">
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Đơn giá:</label>
                    <div class="col-sm-8">
                        <input type="number" nbInput fullWidth id="passwordHash" placeholder="Nhập đơn giá" required [(ngModel)]="costModel.currency">
                    </div>
                </div>

                <!-- <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ngày lập:</label>
                    <div class="col-sm-8">
                        <input nbInput [nbDatepicker]="dateCreated" [(ngModel)]="time">
                        <nb-datepicker #dateCreated format="dd\MM\yyyy" (dateChange)="receiverDate($event)"></nb-datepicker>
                    </div>
                </div> -->

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Nhóm thu chi:</label>
                    <div class="col-sm-8">
                        <nb-select fullWidth placeholder="------- Chọn Nhóm thu chi -------" [(ngModel)]="costModel.groupCostId" name="groupCostId" required>
                            <nb-option *ngFor="let item of lstGroupCost" [value]="item.Id">{{item.Name}}</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Khoản mục:</label>
                    <div class="col-sm-8">
                        <nb-select fullWidth placeholder="------- Chọn Khoản mục -------" [(ngModel)]="costModel.itemsCostId" name="itemsCostId" required>
                            <nb-option *ngFor="let item of lstItemCost" [value]="item.Id">{{item.Name}}</nb-option>
                        </nb-select>
                    </div>
                </div>

            </nb-card-body>

            <nb-card-footer>
                <div class="row row-div-action">
                    <div class="div-action">
                        <button nbButton status="primary" class="btn-add" (click)="addCost()">Cập nhật</button>
                        <button nbButton status="danger" (click)="backToList()" style="margin-left: 10px;margin-right: 10px;">Hủy bỏ</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>