<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                Danh sách chi phí kế toán
                <div class="div-action btn-add-new row my-2">
                    <button class="button" nbButton status="primary" (click)="addProject()">Tạo mới</button>
                </div>

            </nb-card-header>
            <nb-card-body>

                <ng2-smart-table [settings]="settings" [source]="source" class="text-center">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>