<div class="row">
    <div class="row">
        <div class="col-12">
            <nb-card>
                <nb-card-header>
                    Chia nhóm công việc
                </nb-card-header>
                <nb-card-body>
                    <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onSaveConfirm($event)" class="text-center">
                    </ng2-smart-table>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton hero status="danger" (click)="dismiss()">Close</button>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>