<div class="row">
  <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          Thông tin quyền
        </nb-card-header>
        <nb-card-body>
          <div class="form-group required row ">
            <label for="name" class="label col-sm-3 col-form-label text-right label-color">Tên Quyền</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="name" required [(ngModel)] = "rolePermission.roleName">
            </div>
          </div>
          <div class="form-group required row ">
            <label for="name" class="label col-sm-3 col-form-label text-right label-color">Mô tả </label>
            <div class="col-sm-8">
              <!-- <input type="text" nbInput fullWidth id="name" required> -->
              <textarea nbInput fullWidth placeholder="Textarea" [(ngModel)] = "rolePermission.roleDescription"></textarea>
            </div>
          </div>

          <div class="form-group row border-checkbox-section">
            <h6 class="col-sm-12 col-form-label">Phân quyền chức năng cho tài khoản</h6>
          </div>
          <div class="form-group row border-checkbox-section">
            <div class="col-md-12 checkbox-padding" *ngFor="let itemgroup of listPerGroup, let i=index">
              <label for="name" class="label col-sm-12 title-group-check-box">{{(i + 1) + ". " + itemgroup.name}}</label>
              <div class="form-group row border-checkbox-section group-check-box">
                <div class="col-md-4 checkbox-padding" *ngFor="let per of itemgroup.child, let i=index">
                  <nb-checkbox [value]="checkSelected(per)" (valueChange)="changeSelected($event, per)" >{{per.name}}</nb-checkbox>
                </div>
              </div>
            </div>
          </div>

        </nb-card-body>

        <nb-card-footer>
          <div class="row row-div-action">
            <div class="div-action">
              <button nbButton status="primary" class="btn-update" (click) = "updateRole()">Cập nhật</button>
              <button nbButton status="danger" (click) = "gotoListRole()">Hủy bỏ</button>
            </div>
          </div>
        </nb-card-footer>
      </nb-card>
  </div>
</div>
