.form-group.required .label:after {
  content:"*";
  color:red;
}

.group-check-box {
  margin-left: 0px;
  margin-top: 0.4rem;
}

.title-group-check-box {
  font-size: 0.9rem;
  color: #ffffff;
}

.label-color {
  color: #ffffff;
}

.row-div-action {
  display: block;
}

.div-action {
  float: right;
  padding-right: 15px;
}

.btn-update {
  margin-right: 15px;
}