<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Thêm chấm công
            </nb-card-header>
            <nb-card-body>


                <div class="form-group required row ">
                    <label for="name" class="label col-sm-2 col-form-label text-right label-color">Chọn dự án:</label>
                    <div class="col-sm-9">
                        <nb-select fullWidth placeholder="------- Dự án -------" [(ngModel)]="timeKeepingModel.projectId" (ngModelChange)="onSelected($event)" name="role" required>
                            <nb-option *ngFor="let item of lstProject" [value]="item.Id">{{item.Name}}</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-2 col-form-label text-right label-color">Chọn task:</label>
                    <div class="col-sm-9">
                        <nb-select fullWidth placeholder="------- Task -------" [(ngModel)]="timeKeepingModel.taskId" required>
                            <nb-option *ngFor="let item of lstTask" [value]="item.Id">{{item.Description}}</nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-2 col-form-label text-right label-color">Mô tả:</label>
                    <div class="col-sm-9">
                        <angular-editor [config]="config" [(ngModel)]="timeKeepingModel.description"></angular-editor>
                        <!-- <input type="tex" nbInput fullWidth [(ngModel)]="timeKeepingModel.description" placeholder="Nhập mô tả" required> -->
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Mã code:</label>
                    <div class="col-sm-8">
                        <input type="text" nbInput fullWidth [(ngModel)]="timeKeepingModel.code" placeholder="Nhập mã code" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Tải lên ảnh:</label>
                    <div class="col-sm-7">
                        <div class="upload-btn-wrapper">
                            <input type="file" #file (change)="onImageIconChange($event)" style="max-width: 80x;">
                        </div>
                    </div>
                </div>
                <div class="card card-danger" style="position: inherit !important
                ;    margin: 0 auto;max-width: 764px;margin-top:20px;padding:5px;box-sizing:border-box">
                    <div class="card-header">
                        <h3 class="label col-sm-3 col-form-label text-right label-color">Thêm khoản chi</h3>
                    </div>
                    <div class="card-body currencies">
                        <div class="row currency" style="margin-bottom:10px;" *ngFor="let item of this.timeKeepingModel.listCost">
                            <div class="col-md-6 col-xs-12">
                                <input type="text" nbInput fullWidth [(ngModel)]="item.note" placeholder="Tên khoản chi">
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <input type="number" nbInput fullWidth class="form-control value" placeholder="Giá trị" [(ngModel)]="item.currency">
                            </div>
                            <div class="col-md-12 col-xs-12" style="margin-top: 25px;">
                                <input type="file" #file (change)="onImageIconChange_Cost($event, item.flag)" style="max-width: 80x;">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button (click)="remove()" type="button" class="btn btn-block btn-danger col-xs-10 col-md-2 float-right" style="max-height: 38px;margin-top:unset !important;">Xóa khoản chi</button>
                        <button (click)="addFile()" type="button" class="btn btn-block btn-success col-xs-10 col-md-4 float-right" style="margin-top:0;margin-right: 15px; ">Thêm khoản chi</button>
                    </div>
                </div>
            </nb-card-body>

            <nb-card-footer>
                <div class="row row-div-action">
                    <div class="div-action">
                        <button nbButton status="primary" class="btn-update" (click)="add()">Cập nhật</button>
                        <br/>
                        <button nbButton status="danger" (click)="backToList()">Hủy bỏ</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
