agm-map {
    height: 500px;
}

* {
    font-family: Lato;
}

a {
    color: darkblue;
}

.row.currency {
    .col-6 {
        margin-top: 15px;
    }
}

.div-action {
    display: flex;
    button.btn-update.appearance-filled.size-medium.status-primary.shape-rectangle.transitions {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 768px) {
    .text-right {
        text-align: unset !important;
    }
    .row.currency {
        .col-md-6.col-xs-12 {
            margin-bottom: 15px;
        }
    }
    a#text-logo {
        font-size: 1rem !important;
        padding: 0;
        margin-left: -20px;
    }
    button.appearance-filled.size-medium.status-primary.shape-rectangle.transitions {
        padding: 6px;
        font-size: 10px;
    }
    button.btn.btn-block.btn-success.col-xs-10.col-md-4.float-right {
        margin-top: 10px !important;
        margin-right: 0 !important;
    }
}