<div class="row" id="detail">

    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Thông tin chi tiết Chấm công

            </nb-card-header>
            <nb-card-body>

                <div class="form-group required row ">
                    <div class="col-sm-6">
                        <agm-map [latitude]="timeKeepingModel.latitude" [longitude]="timeKeepingModel.longitude" [zoom]="15">
                            <agm-marker [latitude]="timeKeepingModel.latitude" [longitude]="timeKeepingModel.longitude">a</agm-marker>
                        </agm-map>
                    </div>
                    <div class="col-sm-6">
                        <img [src]="this.timeKeepingModel.image" style="width:390px;height:300px;">
                    </div>
                </div>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ngày:</label>
                    <div class="col-sm-8">
                        <input type="text" [readonly]="true" nbInput fullWidth id="userName" equired [(ngModel)]="timeKeepingModel.workTime">
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Mô tả:</label>
                    <div class="col-sm-8">
                        <angular-editor [config]="config" [(ngModel)]="timeKeepingModel.description"></angular-editor>
                        <!-- <input type="text" [readonly]="true" nbInput fullWidth [(ngModel)]="timeKeepingModel.description" required> -->
                    </div>
                </div>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Người thực hiện:</label>
                    <div class="col-sm-8">
                        <input type="text" [readonly]="true" nbInput fullWidth [(ngModel)]="timeKeepingModel.user" required>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Báo cáo:</label>
                    <div class="col-sm-8">
                        <button nbButton status="warning" class="" (click)="downloadFile()" style="margin-left:15px;">Tải
              về</button>
                    </div>
                </div>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Dự án:</label>
                    <div class="col-sm-8">
                        <input type="text" [readonly]="true" nbInput fullWidth [(ngModel)]="timeKeepingModel.project" required>
                    </div>
                </div>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Task:</label>
                    <div class="col-sm-8">
                        <input type="text" [readonly]="true" nbInput fullWidth [(ngModel)]="timeKeepingModel.task" required>
                    </div>
                </div>




                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Trạng thái:</label>
                    <div class="col-sm-8">
                        <input type="text" [readonly]="true" nbInput fullWidth [(ngModel)]="timeKeepingModel.status" required>
                    </div>
                </div>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Lý do:</label>
                    <div class="col-sm-8">
                        <textarea type="text" nbInput fullWidth [(ngModel)]="timeKeepingModel.reason" required></textarea>
                    </div>
                </div>
            </nb-card-body>

            <nb-card-footer>

                <div class="row row-div-action" style="padding-left: 350px;">
                    <!-- <div class="div-action">
                        <button nbButton hero status="danger" (click)="dismiss()">Close</button>
                    </div> -->

                    <div class="div-action">
                        <button nbButton status="success" (click)="chapNhanChamCong()">Chấp nhận</button>
                    </div>
                    <div class="div-action">
                        <button style="margin-left: 20px; margin-right: 20px;" nbButton status="warning" (click)="tuChoiChamCong()">Từ chối</button>
                    </div>
                    <div class="div-action">
                        <button nbButton status="danger" (click)="dismiss()">Hủy bỏ</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>