<div class="row" id="detail">
    <div class="col-md-12">
        <nb-card accent="info" status="info">
            <nb-card-header>
                Thông tin chi tiết công việc
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-6">
                        <span class="cam"><b class="color0">Ngày hết hạn:</b> {{taskModel.endDate}}</span>
                    </div>

                    <div class="col-sm-6">
                        <span class="cam"><b class="color0">Thành viên:</b> {{taskModel.userName}}</span>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <span class="cam"><b class="color0">Mô tả:</b> {{taskModel.description}}</span>
                    </div>
                </div>



                <ng-container>
                    <span class="cam"><b class="color0">Hoạt động:</b></span>
                    <div *ngFor="let item of history; let i = index">
                        <span style="color:blue;"> {{item.OldUser}} <b class="color0">---></b> {{item.NewUser}}: {{item.UserCreated}} - {{item.DateModified}} đã chỉnh sửa</span>
                    </div>
                </ng-container>

            </nb-card-body>
            <nb-card-footer>
                <div class="row row-div-action">
                    <div class="div-action">
                        <button nbButton status="danger" (click)="showChamCong()">Xem chi tiết báo cáo </button>
                        <nb-card-footer>
                            <button nbButton status="info" (click)="getHistory()">Hiện chi tiết </button>
                        </nb-card-footer>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>

</div>