<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Báo cáo
            </nb-card-header>
            <nb-card-body>
                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ngày bắt đầu:</label>
                    <div class="col-sm-8">
                        <input nbInput [nbDatepicker]="startDate" [(ngModel)]="timeStart">
                        <nb-datepicker #startDate format="dd\MM\yyyy" (dateChange)="receiverStartTime($event)"></nb-datepicker>
                    </div>
                </div>

                <div class="form-group required row ">
                    <label for="name" class="label col-sm-3 col-form-label text-right label-color">Ngày kết thúc:</label>
                    <div class="col-sm-8">
                        <input nbInput [nbDatepicker]="endDate" [(ngModel)]="timeEnd">
                        <nb-datepicker #endDate format="dd\MM\yyyy" (dateChange)="receiverEndTime($event)"></nb-datepicker>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <div class="row row-div-action">
                    <div class="div-action">
                        <button nbButton status="primary" class="btn-update" style="margin-left: 10px;" (click)="xuatFile()">Xuất báo cáo lương</button>
                    </div>
                    <div class="div-action">
                        <button nbButton status="primary" class="btn-update" style="margin-left: 20px;" (click)="xuatFileChiPhi()">Xuất báo cáo chi phí</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>

    </div>

    <!-- <div echarts [options]="options" class="echart"></div> -->